body{
    font-family: 'Noto Sans', sans-serif;
    
}
.section1{
    display: flex;
    font-size: 20px;
}
.red-colour{
    color: red;
}
.half-width{
    width: 90%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px 50px;
    color: white;
    border-radius: 10px;
}
.focus{
    border-left: 2px solid green;
    padding-left: 10px;
    font-size: 40px;
}
.scroll{
    padding-top: 30px;
}
.section2{
    padding-top: 5%;
}
.middle{

    padding-left: 30%;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.section2-2{
    width: 80%;
    display:flex ;
    padding-left: 10%;
}
.section2-2 img{
    width: 60%;
}
.mission{
    background-color: indianred;
    border-radius: 5%;
    margin: 10px 10px;
    padding: 5%;
}
.vission{
    background-color: palegreen;
    border-radius: 5%;
    margin: 10px 10px;
    padding: 5%;
}
.goal{
    background-color: yellowgreen;
    border-radius: 5%;
    margin: 10px 10px;
    padding: 5%;
}
.section3{ 
    padding-top: 5%;
    padding-left: 11%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10px;
}
.half-width2{
    display: flex;
    
}
.half-width2 img{
    width: 80%;
}
.section3-3{
    width: 10% 90%;
    padding-right: 0;
    padding-left: 0;
    font-size: 25px;
}
