body{
    font-family: 'Noto Sans', sans-serif;
}
.mission{
    display: flex;
    font-size: 20px;
}
.red-colour{
    color: red;
}
.half-width{
    width: 90%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px 50px;
    color: white;
}
.focus{
    border-left: 2px solid green;
    padding-left: 10px;
}
.scroll{
    padding-top: 30px;
}